@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;

li {
	list-style: none;
	text-transform: uppercase;
}

a {
	cursor: pointer;
	text-decoration: none;
}

button {
	background: none;
	border: none;
	cursor: pointer;
	display: inline-block;
	outline: none;
	text-transform: uppercase;
}

input[type="submit"] {
	cursor: pointer;
	border: none;
	border-radius: 0.5rem;
	color: white;
	text-transform: uppercase;
}

.h2 {
	color: v.$color-primary-darker;
	padding: 2rem;
	margin-top: 1rem;
}

select {
	appearance: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-family: inherit;
	font-size: 1.8rem;
	margin: 0;
	text-transform: uppercase;
	width: 100%;
}

.active {
	background-color: v.$color-primary-light;
}

th {
	color: white;
	background-color: rgb(61, 54, 54);
	text-transform: uppercase;
	padding: 1rem 2rem;
}

tr {
	height: 4rem;
	&:hover {
		background-color: rgba(148, 148, 148, 0.502);
	}
	
	@include m.responsive(phone) {		
		&:nth-child(even) {
			background-color: rgb(197, 193, 193);
		}		
	}
}

td {
	padding: 1rem 2rem;
	font-size: 1.3rem;
	text-transform: uppercase;
	text-align: center;
	color: v.$color-primary-darker;
}