@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.content-client {


  &__background {
    display: flex;
    flex-direction: column;
    height: 25rem;
    margin: 0 auto;

    @include m.respond(phone) {
      height: 50rem;
    }


    &--title {
      color: v.$color-primary-darker;
      font-size: v.$font-size + 2rem;
      margin: 2rem 0;
      text-align: center;
      text-transform: uppercase;
    }

    &--form {
      align-items: center;
      background-color: v.$color-green-light;
      border-radius: 1rem;
      display: flex;
      margin: 0 auto;
      padding: 2rem;
      align-items: stretch;

      @include m.respond(tab-port) {
        flex-wrap: wrap;
        justify-content:center;
      }

      @include m.respond(phone) {
        flex-direction: column;
        margin: 0;
      }
    }
  }
}

.client-hotels {
  padding: 2rem 20rem;

  @include m.respond(tab-land) {
    padding: 2rem 6rem;
  }

  @include m.respond(tab-port) {
    padding: 2rem 10rem;
  }

  @include m.respond(phone) {
    padding: 2rem 0rem;
  }

  &__title {
    color: v.$color-primary-darker;
    text-transform: uppercase;
    font-size: v.$font-size + 1rem;
    text-align: center;

    @include m.respond(phone) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__cards {
    display: grid;
    gap: 3rem 0;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 2rem;

    @include m.respond(tab-port) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include m.respond(phone) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}