@use '../abstract/variables'as v;

.content-client {

 
  &__background {
    display: flex;
    flex-direction: column;
    height: 25rem;
    margin: 0 auto;


    &--title{
      color:v.$color-primary-darker;
      font-size: v.$font-size + 2rem;
      margin: 2rem 0 ;
      text-align: center;
      text-transform: uppercase;
    }

    &--form{
      align-items: center;
      background-color: v.$color-green-light;
      border-radius: 1rem;
      display: flex;
      margin: 0 auto;
      padding: 2rem;
    }
  }
}

.client-hotels {
  padding: 2rem 20rem;

  &__title {
    color:v.$color-primary-darker;
    text-transform: uppercase;
    font-size: v.$font-size + 1rem;
    text-align: center;
  }

  &__cards {
    display: grid;
    gap: 3rem 0;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 2rem;
  }
}
