@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.create-hotel {

  &__container {

    @include m.responsive(phone) {
      padding: 0 1.5rem;
      margin: 2rem 0 0 2.5rem;
    }
  }

  &__form {
    &--rooms {
      @include m.form-columns-3();
      align-items: baseline;

      @include m.responsive(tab-port) {
        @include m.form-columns-1();
        align-items: stretch;
      }
    }
  }
}

.create-edit-hotel {

  &__form {
    @include m.form();
    margin-bottom: 1rem;

    @include m.responsive(phone) {
      @include m.form-columns-1();
      
      width: 32rem;
      padding: 0 1.5rem;
    }
  }
}

.hotel-created {
  display: flex;
  flex-direction: column;
  @include m.form();

  @include m.responsive(phone) {
    margin-left: 2rem;
  }

  &--title,
  &--subtitle,
  &--content {
    color: white;
    margin-bottom: 1rem;
    font-weight: 100;
  }

  &--title {
    font-size: v.$font-size + 2rem;
    text-transform: uppercase;

    @include m.responsive(phone) {
      font-size: v.$font-size + 1rem;
    }
  }

  &--subtitle {
    font-size: v.$font-size + 0.5rem;

  }

  &--content {
    font-size: v.$font-size + 1rem;

    @include m.responsive(phone) {
      font-size: v.$font-size + 0.5rem;
    }

    span {
      color: v.$color-primary;
    }
  }
}