@use '../abstract/mixins' as m;
@use '../abstract/variables' as v;

.form-reservation {
  @include m.form();
  @include m.form-columns-3();
  width: 82rem;

  @include m.responsive(phone) {
    @include m.form-columns-1();
    width: 35rem;
  }
}

.totalPaid {
  @include m.form();
  color: v.$color-white;
  margin-top: 1rem;
  align-self: flex-end;
  font-size: v.$font-size + 0.6rem;
  display: flex;
  width: 35%;
  justify-content: space-between;
  text-transform: uppercase;
}