@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.create-hotel {
  display: flex;
  overflow: auto;

  @include m.respond(phone) {
    min-height: 82vh;
    background-color: v.$color-primary-darker;
    padding: 0 3rem;
  }

  &__container {
    margin: 6rem auto;
    max-width: 75rem;

    &--title {
      text-align: center;
      font-size: 3rem;
      margin-bottom: 2rem;
      color: v.$color-primary-darker;
      text-transform: uppercase;

      @include m.respond(phone) {
        color: v.$color-white;
        margin-bottom: 0;
      }
    }
  }

  &__form {
    &--rooms {
      @include m.form-columns-3();
      padding: 2rem;
      box-shadow: none;

      @include m.respond(tab-port) {
        @include m.form-columns-1();
      }
    }
  }
}

.create-edit-hotel {

  &__form {
    @include m.form();
    margin-bottom: 1rem;

    @include m.respond(phone) {
      box-shadow: none;
    }
  }
}

.hotel-created {
  display: flex;
  flex-direction: column;
  @include m.form();

  @include m.respond(phone) {
    box-shadow: none;
    margin-left: 2rem;
  }

  &--title,
  &--subtitle,
  &--content {
    color: white;
    margin-bottom: 1rem;
    font-weight: 100;
  }

  &--title {
    font-size: v.$font-size + 2rem;
    text-transform: uppercase;

    @include m.respond(phone) {
      font-size: v.$font-size + 1rem;
    }
  }

  &--subtitle {
    font-size: v.$font-size + 0.5rem;

  }

  &--content {
    font-size: v.$font-size + 1rem;

    @include m.respond(phone) {
      font-size: v.$font-size + 0.5rem;
    }

    span {
      color: v.$color-primary;
    }
  }
}