@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.create-edit-room {
  &__container {

    &--info {
      @include m.form();

      @include m.responsive(tab-land) {
        // max-width: 75vw;
      }

      @include m.responsive(phone) {
        // max-width: 80vw;
        // height: 48vh;
      }

      &--title,
      &--subtitle,
      &--content {
        color: white;
        margin-bottom: 1.5rem;
        font-weight: 100;
      }

      &--title {
        font-size: v.$font-size + 2rem;
      }

      &--subtitle {
        font-size: v.$font-size + 0.5rem;
      }

      &--content {
        font-size: v.$font-size + 1rem;

        span {
          color: v.$color-primary;
        }
      }
    }
  }
}

// .hotel-info {
//   @include m.form();
//   margin: 2rem auto;
//   padding: 4rem;
//   border-radius: 1rem;
//   overflow: auto;
//   max-height: 50vh;

//   &--title,
//   &--subtitle,
//   &--content {
//     color: white;
//     margin-bottom: 1.5rem;
//     font-weight: 100;
//   }

//   &--title {
//     font-size: v.$font-size + 2rem;
//   }

//   &--subtitle {
//     font-size: v.$font-size + 0.5rem;
//   }

//   &--content {
//     font-size: v.$font-size + 1rem;

//     span {
//       color: v.$color-primary;
//     }
//   }
// }