@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.detail-hotel {
  max-height: 80vh;

  @include m.respond(phone) {
    align-items: flex-start;
    margin-left: 2rem;
    padding: 3rem 2.5rem;
  }
  @include m.detail-hotels-private(74vw, 23vh);
}

