@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.detail-room {  
  max-height: 78vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  @include m.responsive(tab-port){
    height: 69.5vh;
  }
  @include m.responsive(phone){
    height: 63.2vh;
    background-color: v.$color-primary-darker;
    padding: 2rem 1rem;
  }


  &__container {
    display: flex;
    flex-direction: column;
    border-radius: 2.5rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.337);
    border: 1px solid white;

    @include m.responsive(phone){
      border: none;
    }

    &:nth-last-child(1){
      background-color: v.$color-primary-darker;
    }

    @include m.responsive(phone){
      margin-left: 4rem;
      box-shadow:none;
    }
    
    &--labels {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      background-color: v.$color-primary-darker;
     
      &:nth-child(1){
        border-radius: 2.5rem 2.5rem 0 0;
      }

      &:nth-last-child(1){
        border-radius: 0 0 2.5rem 2.5rem ;
      }
      
      text-transform: uppercase;
      
      &-title {
        font-size: 1.7rem;
        font-weight: 700;
        padding: 1rem;
        margin-left: 2rem;
        letter-spacing: 0.5px;
        color: v.$color-primary-light;

        @include m.responsive(phone){
          margin-left: 0;
        }
        
      
      }
      &-content {
        padding: 1.5rem;
        font-weight: 100;
        font-size: 1.5rem;
        max-width: 30rem;
        color: v.$color-white ;
      }
    }
  }

}