@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.login {

  &__container {  

    @include m.responsive(phone) {
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
    }

    &--title {
      text-align: center;
      @include m.title-pages( v.$color-white);
    }

    &--form {
      @include m.form();
      width: 45rem;
      @include m.form-columns-1();
      padding: 1.5rem;
      max-width: 40rem;
    }
  }
}