@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.create-account {
  display: flex;
  @include m.respond(phone) {
    background-color:  v.$color-primary-darker;
  }

  &__container {
    margin: 4rem auto;

    @include m.respond(phone) {
      width: 90%;
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
    }

    &--title {
      text-align: center;
      font-size: 3rem;
      margin-bottom: 4rem;
      color: v.$color-primary-darker;

      @include m.respond(phone) {
        font-size: 2rem;
        color: v.$color-white;
      }
    }

    &--form {
      @include m.form();
      @include m.form-columns-2();
      max-width: 60rem;

      @include m.respond(phone) {

        // TODO REHACER MEDIA QUERY
        grid-template-columns: repeat(1, 1fr);
        width: 33rem;
        box-shadow: none;
        padding: 0;
      }
    }
  }
}

.PENDIENTE {

}