@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.create-account {

  &__container {

    &--title {
      text-align: center;
      @include m.title-pages(v.$color-white);
    }

    &--form {
      @include m.form();
      width: 60rem;
      @include m.form-columns-2();
      
      @include m.responsive(phone) {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
        max-width: 30rem;
      }
    }
  }
}