@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.public-reservation {
  padding: 2rem 20rem;

  &__title {
    color: v.$color-primary-darker;
    text-transform: uppercase;
    font-size: v.$font-size + 1rem;
    text-align: center;
  }

  &__cards {
    display: grid;
    gap: 3rem 0;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 2rem;

    @include m.responsive(phone){
      grid-template-columns: repeat(1, 1fr);
      padding: 1rem;
    }
  }
}

.card-reservation {
  border-bottom: 1px solid black;
}

.card {
  &__head {
    border-bottom: 1px solid v.$color-primary-light;
  }

  &__body{

    &--client span {
      font-weight: 100;
      color:v.$color-primary-light;
    }

    &--reservation {
      margin-bottom: 1rem;
      border-bottom: 1px solid v.$color-primary-light;
      width: 120%;
    }
    &--room span {
      font-weight: 100;
    }
  
  }

}

