@use '../abstract/variables' as v;

.staff-hotels {
  padding: 5rem;
  max-height: 80vh;
  overflow-y: auto;

  &__title {
    text-align: center;
    color: v.$color-primary-darker;
    font-size: v.$font-size + 3rem;
    margin-bottom: 1rem;
  }

  &__table {
    width: 70%;
    border: 1px solid #000;
    border-spacing: 0;
    color: gray;
    cursor: pointer;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
  }

  th {
    text-align: center;
    border-collapse: collapse;
    padding: 1rem;
    color: white;
    background-color: rgb(61, 54, 54);
    text-transform: uppercase;
  }

  tr {
    font-size: 1.3rem;
    text-transform: uppercase;
    transition: all .2s;
    text-align: center;
    color: v.$color-primary-darker;

    &:hover {
      background-color: rgba(148, 148, 148, 0.502);
    }
  }
}

td {
  padding: 1rem;
}