@use './variables' as v;
@forward '../abstract/animations';

//!MEDIA QUERY MANAGER
/*
*0	-	600px   		  : 	Phone
*600	-	900px   	  :		Table portrait
*900 -	1200px  		:		Table landscape
*[1200 -	1800px] 	: 	is where our normal system apply
*1800px + 				  :	 	Big desktop

*$breakpoint  
*- phone
*- tab-port
*- tab-land
*- big-desktop

!em == 16px
*/

@mixin responsive($breakpoint) {
  @if $breakpoint ==phone {
    @media(max-width: 37.5em) {
      @content
    }

    ; //! 600px
  }

  @if $breakpoint ==tab-port {
    @media(max-width: 56.25em) {
      @content
    }

    ; //! 900px
  }

  @if $breakpoint ==tab-land {
    @media(max-width: 75em) {
      @content
    }

    ; //! 1200px
  }

  @if $breakpoint ==big-desktop {
    @media(min-width: 112.5em) {
      @content
    }

    ; //! 1800px
  }
}

//! Navbar

@mixin navbar() {
  display: flex;
  margin-right: 2rem;
  padding: 0 0.3rem;
}

@mixin navbar-link() {
  border-radius: 1rem;
  color: v.$color-white;
  font-size: v.$font-size;
  padding:1rem 1.5rem;


  &:link,
  &:visited {
    display: block;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all .4s;
  }

  &:hover {
    background-color: v.$color-primary-light;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  &:active {
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4) inset;
  }
}


//! Button with background
@mixin btnColor($color, $hasAnimation: true) {
  background-color: $color;
  border: 2px solid $color;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
  color: v.$color-white;
  letter-spacing: 1.5px;

  @if $hasAnimation {
    @include hoverAnimations($color);
  }
}

//! Button without background
@mixin outlined($color, $hasAnimation: true) {
  background-color: transparent;
  border: 2px solid $color;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
  color: $color;
  font-weight: 600;

  @if $hasAnimation {
    @include hoverAnimations($color);
  }
}

//! Little beat in buttons
@mixin hoverAnimations($color) {

  &:hover {
    background-color: rgba($color: $color, $alpha: 0.8);
    border: 2px solid $color;
    color: v.$color-white;

    &::after {
      background-color: $color;
      opacity: 0;
      transform: scaleX(1.6) scaleY(1.8);
    }
  }

  &:active {
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
  }
}

//! Generic input
@mixin input() {
  border: 2px solid rgb(233, 233, 233);
  border-radius: 0.5rem;
  outline: 2px solid rgb(233, 233, 233);
  background-color: v.$color-white;
  padding: 0.7rem;

  @include responsive(phone) {
    color: black;
  }
}

//! Modal
@mixin showModal($transform) {
  opacity: 1;
  visibility: visible;
  transform: $transform;
}

@mixin typeModal ($url) {
  animation: spin .2s linear forwards 1.2s;
  background-image: $url;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  padding: 8rem;
  position: sticky;

  @include responsive(phone) {
    padding: 7rem;
  }
}

//! Forms

@mixin form() {
  background-color: v.$color-primary-darker;
  padding: 2rem;
  border-radius: 1rem;
  margin: 0 auto;

}

@mixin form-columns-3() {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@mixin form-columns-2() {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@mixin form-columns-1() {
  display: flex;
  flex-direction: column;
  color: v.$color-white;
}

@mixin title-pages($color-phone) {

  color: v.$color-primary-darker;
  font-size: v.$font-size + 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;

  @include responsive(phone) {
    font-size: v.$font-size + 1rem;
    margin-bottom: 2rem;
    color: $color-phone;
  }
}

//! Pages
@mixin hotels-detail-page() {

  &__container-table {
    border: 1px solid black;
    overflow: auto;
    max-height: 60vh;
    margin-left: 4rem;
    background-color: v.$color-white;
    margin-bottom: 1rem;

    @include responsive(phone) {
      width: 90%;
    }
    
    &--table {
      border-spacing: 0;
      border: 1px solid v.$color-white;
      background-color: v.$color-white;
    }
  }
}