
$color-primary: #40E0D0;
$color-primary-lighter:  #50948d77;
$color-primary-light:  #239589;
$color-primary-dark:  #28857c;
$color-primary-darker:  #0e4a44;

$color-green: #0fa61e;
$color-green-light: #0ddb1059;
$color-blue: #1ea7fd;
$color-white: white;
$color-red: #dc1414;
$color-purple: #646cff;

$color-success: #37ff00;
$color-warning: #ffd900;
$color-info: #022BFF;
$color-danger: #ff0000;

$font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-size: 1.4rem;