@forward '../abstract/animations';
@use '../abstract/mixins' as m;
@use '../abstract/variables' as v;

.btn {
  
  &,
  &:link,
  &:visited {    
    border-radius: 1rem;
    font-weight: 500;
    line-height: 1;
    position: relative;
    transition: all .1s ease-in-out;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &::after {
    content: "";
    border-radius: 10rem;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .4s;
    width: 100%;
  }

  &--animated {
    animation: moveInBottom .5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &--blue {
    @include m.btnColor(v.$color-blue);
  }

  &--green {
    @include m.btnColor(v.$color-green);
  }

  &--red {
    @include m.btnColor(v.$color-red);
  }

  &--primary-dark {
    @include m.btnColor(v.$color-primary-darker);
  }

  &--outlined-blue {
    @include m.outlined(v.$color-blue);
  }

  &--outlined-green {
    @include m.outlined(v.$color-green);
  }

  &--outlined-red {
    @include m.outlined(v.$color-red);
  }

  &--outlined-primary-dark {
    @include m.outlined(v.$color-primary-darker);
  }

  &--small {
    font-size: 1rem;
    padding: .6rem 0.7rem;
  }

  &--medium {
    font-size: 1.6rem;
    padding: 1rem 1.2rem;
  }

  &--large {
    font-size: 2.2rem;
    padding: 1.2rem 1.7rem;
  }
}