@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.card {
  align-items: center;
  background: linear-gradient(
    120deg, 
    v.$color-primary-darker 0%,
    v.$color-primary-dark 50%,
    v.$color-primary-light 100%);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform .2s ease-in;
  width: 30rem;

  &:hover {
    cursor: pointer;
    outline: 3px solid v.$color-primary-dark;
  }

  &__head {
    margin-top: 1rem;
    color: v.$color-white;
    font-size: v.$font-size + 1rem;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 2rem;

    &--img {
     width: 26rem;
    }

    &--city {
      color: v.$color-white;
      font-size: 2rem;
      margin: 1rem 0;

      @include m.responsive(phone){
        color:white
      }
    }
    &--desc {
      color: v.$color-white;
      font-size: 1.4rem;
      margin-bottom: 1rem;
      font-weight: 600;

      @include m.responsive(phone){
        color:white
      }
    }

    &--room {
      color: v.$color-white;
      font-size: 1.4rem;
      font-weight: 900;

      @include m.responsive(phone){
        color:white
      }
    }
  }
  &__footer {
    margin-bottom: 3rem;
  }
}

