@use '../abstract/mixins' as m;

.error-message {
  background-color: #f007079b;
  border-radius: .6rem;
  color: white;
  font-size: 1.4rem;
  margin: 0 1rem;
  padding: 0.5rem;

  @include m.responsive(phone) {
    font-size: 1.6rem;
  }
}

