@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.form-control {
  display: flex;
  flex-direction: column;
  margin: 1rem .8rem;
  @include m.respond(phone) {
    margin:0;
  }

  &--label {
    color: v.$color-white;
    font-size: v.$font-size + 0.2rem;
    margin-right: 2rem;
    padding: 1rem 0;
    text-transform: uppercase;

    @include m.respond(phone) {
      font-size: v.$font-size - 0.3rem;
    }
  }

  &--input {

    &,
    &:link,
    &:visited {
      @include m.input();
    }
  }

  &--select {
    @include m.input();
    color: rgb(138, 130, 130);
    font-weight: 700;
  }
}