@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.table {
  overflow: auto;
 
  & > table{
    border-collapse: collapse;

  }

  @include m.responsive(phone) {
    margin-left: 4rem;
    align-self: flex-start;
  }

  &__header {    
    background-color: v.$color-gray;
    font-size: v.$font-size;
    position: sticky;
    text-transform: uppercase;
    top: 0;
    z-index: 1;

    &--titles {
      color: white;

      @include m.responsive(phone) {
        color: v.$color-primary-darker;
        background-color: white;
      }
    }
  }

  &__row {
    font-size: v.$font-size;
    text-transform: uppercase;
    border: 1px solid v.$color-gray-light;

    @include m.responsive(phone) {
      color: v.$color-white;
      border: 1px solid v.$color-white;
    }

    &:hover {
      background-color: v.$color-gray-light;
      color: v.$color-white;
    }
  }

  &__td {
    padding: 1.5rem 1rem;
    width: 12rem;
    

    @include m.responsive(phone) {
      font-size: v.$font-size - 0.2rem;
    }
  }
}